<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.t01.camera_service">

    <uses-permission android:name="android.permission.CAMERA"></uses-permission>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"></uses-permission>
    <uses-permission android:name="android.permission.INTERNAL_SYSTEM_WINDOW"></uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".CameraServiceActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--接收客服端发送过来的消息-->
        <receiver
            android:name=".revices.ActionReceiver"
            android:process=":service"
            android:exported="true">
            <intent-filter>
                <action android:name="com.t01.action.CAMERE_CORE_SHOW" />
                <action android:name="com.t01.action.CAMERE_CORE_HIDE" />
            </intent-filter>
        </receiver>
    </application>


</manifest>
